{% extends "base.html" %}
{% block content %}
<center><h1>Add a Blog</h1>
    <form method='post' action = '/new_post'>
        <label>
            Add Entry
            <input type = 'text' name = 'title' value = "{{title_entry}}"/></br>
            <span class = 'error'>{{title_error}}</span>
            </br></br></br>
        </label>
        <label>
            Blog
            <textarea rows="5" cols="45" name = "body" >{{body_entry}}</textarea></br>
            <span class = 'error'>{{body_error}}</span>
            </br>
        </label></br>
           <input type = "submit" name = "submit" value = "Submit" />
           </form>
</center>
{% endblock %}